<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.afinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".login.activity.ActivitySplash" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lomba.views.ActivityEditLomba" />
        <activity android:name=".lomba.views.ActivityCreateLomba" />
        <activity android:name=".profil.views.ActivityProfil" />
        <activity android:name=".lomba.views.ActivityDetailLomba" />
        <activity android:name=".artikel.views.ActivityDetailArtikel" />
        <activity android:name=".lomba.views.ActivityLomba" />
        <activity android:name=".artikel.views.ActivityArtikel" />
        <activity android:name=".home.views.ActivityHome" />
        <activity android:name=".login.activity.ActivityRegister" />
        <activity android:name=".login.activity.ActivityLogin" />
        <activity android:name=".MainActivity">

        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>